# Batch Connect app configuration file
---

cluster: {{ inventory_hostname|title  }}
title: "Jupyter Notebook"

description: |
  This app will launch a Jupyter Notebook server.

attributes:
  custom_environment:
    widget: text_area
    label: Environment Setup (drag text area to enlarge)
    value: |
        # Clean environment to avoid conflicts
        module purge
        # run whatever you need (module load, source activate, etc)
        #  to create your desired jupyter notebook environment
        # jupyter MUST be on your path
        {% if inventory_hostname == 'grace' %}
        # If you don't have one yet, you can use the example below for now
        module load Langs/Python/3.6-anaconda
        {% elif inventory_hostname == 'farnam' %}
        # If you don't have one yet, you can use the example below for now
        module load Jupyter
        {% endif %}

  bc_num_cores:
    widget: "number_field"
    label: "Number of CPUs"
    value: 1
    min: 1
    step: 1

  bc_amt_mem:
    widget: "number_field"
    label: "Memory per CPU (--mem-per-cpu) in GiB"
    value: 5
    min: 1
    step: 0.5

  # Whether Conda extensions will be available within the Jupyter notebook 0==False
  # see https://docs.continuum.io/anaconda/user-guide/tasks/use-jupyter-notebook-extensions
  conda_extensions: "0"

  # Any extra command line arguments to feed to the `jupyter notebook ...`
  # command that launches the Jupyter notebook within the batch job
  extra_jupyter_args: ""

form:
  - custom_environment
  - conda_extensions
  - extra_jupyter_args
  - bc_num_hours
  - bc_num_cores
  - bc_amt_mem
  - bc_num_slots
  - bc_account
  - bc_queue
  - bc_email_on_started

submit: "submit/slurm_desktop.yml.erb"

